<form id="frm">
			<section>
        <fieldset>
				<legend>Gestion des Usines:</legend>
  					<div class="col-lg-4">
  						<label class="conteneur" for="Numero">
  							<label for="label-control">Numéro :</label>
  							<input type="number" class="form-control" [(ngModel)]="usine.Numero" name="Numero" id="Numero" placeholder="Numero" required #Numero="ngModel"/>
  						</label>
  					</div>
  					<div class="col-lg-4">
  						<label class="conteneur" for="Ville">
  							<label for="label-control">Ville :</label>
  							<input type="texts" class="form-control" [(ngModel)]="usine.Ville" name="Ville" id="Ville" placeholder="Ville" required #Ville="ngModel"/>
  						</label>
  					</div>
  					<div class="pull-right col-lg-9" style="margin-top: 15px">
  						<button *ngIf="indexToUpdate ==-1" (click)="add(usine)" class="col-lg-3 pull-right btn btn-success "><i class="fa fa-plus"></i> Ajouter</button>
  						<button *ngIf="indexToUpdate != -1" (click)="update(indexToUpdate,usine)" class="col-lg-3 pull-right btn btn-primary "><i class="fa fa-pencil"></i> Modifier</button>
  						<button *ngIf="indexToUpdate != -1" (click)="cancel()" class="col-lg-3 pull-right btn btn-white "><i class="fa fa-undo"></i> Annuler</button>
  					</div>
			</fieldset>
		</section>
</form>
<hr>
<div class="row">
  <table id="tblList"><thead>
      <tr>
      <th>Id</th>
      <th>Numéro</th>
      <th>Ville</th>
      <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usine of usines,let i=index">
      <td>{{i+1}}</td>
      <td>{{usine.Numero}}</td>
      <td>{{usine.Ville}} </td>
      <td>
        <button class="btn btn-info btn-xs" (click)="setToUpdate(i)"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger btn-xs" (click)="delete(i)"><i class="fa fa-trash"></i></button>
      </td>
      </tr>
    </tbody>
  </table>
</div>
