<section class="container">
  <form class="form-horizontal">
    <div class="col-lg-12 text-center" *ngIf="clients">
        <label class="label-control pull-left  col-lg-3"><i class="fa fa-search"></i>   Chercher Commandes </label>
        <input type="search" class="col-lg-8 formControl" name="query" [(ngModel)]="clients[0].Nom" (keyup.enter)="search()"/>
    </div>
  </form>
</section>
<section class="container" style="border:1px;">
  <fieldset>
    <label class="formTitle" style="height: 56px;">
      <button type="button"  class="btn btn-default btn-sm pull-right btn-block" name="button">
        <i class="fa fa-crop fa-2x"></i> <b> Dimensionner une Commande</b> </button>
    </label><br>
    <div >
      <div class="col-sm-12 col-lg-12 form-group">
          <label class="label-control pull-left col-sm-4 col-lg-3"><i class="fa fa-calendar fa-2x"></i>  Date </label>
          <input type="date" class="col-sm-4 col-lg-4 formControl" name="query" [(ngModel)]="query" (keyup.enter)="search()"/>
      </div>
      <div class="col-sm-12 col-lg-12 form-group">
            <label class="label-control  col-sm-4 col-lg-3 pull-left"><i class="fa fa-map-marker fa-2x"></i>  Usine </label>
            <label class="formControl pull-left col-sm-4 col-lg-4"><b >Beni Mellal</b><input type="radio" class="pull-right check" [checked]=true value="'Beni Mellal'" [(ngModel)]="usine" /></label>
            <label class="formControl pull-left col-sm-4 col-lg-4"><b >Ben Ahmed</b><input type="radio" class="pull-right check" [checked]=true value="'Ben Ahmed'" [(ngModel)]="usine" /></label>
      </div>
      <br>
      <br>
      <br>
      <div class="col-lg-12 form-group">
        <label class="label-control pull-left col-sm-4 col-lg-3"><i class="fa fa-truck fa-2x"></i>  Commande </label>
        <select [(ngModel)]="client" (change)="getCommandeFromClient(client)" class="formControl pull-left col-sm-4 col-lg-4" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let c of clients,let id=index" [ngValue]="id">{{c.Nom}}</option>
        </select>
        <button class="btn btn-default formControl col-sm-2 col-lg-2"><i class="fa fa-plus"></i> <b> Ajouter</b></button>
      </div>
      <div class="col-lg-12 form-group">
        <button class="btn btn-info btn-lg formControl col-sm-3 col-lg-3 pull-right"><i class="fa fa-crop"></i> <b> Dimensionner</b></button>
      </div>
      </div>
      <hr>
      <div class="formContent">
        <label class="formTitle" style="height: 56px;">
          <button (click)="show =! show"  style="" class="btn btn-default btn-sm pull-right" ><i class="fa fa-arrow-circle-down fa-2x"></i></button>
          <button (click)="show =! show"  style="" class="btn btn-default btn-sm pull-right" ><i class="fa fa-arrow-circle-up fa-2x"></i></button>
          <button  style="" class="btn btn-default btn-sm pull-right btn-block" >  <i class="fa fa-info-circle fa-2x"></i> <b> Information sur la Commande selectionnée</b> </button>
        </label><br>
          <div *ngIf="commande.Client && show">
              <div class="formContent text-center">
              <div  *ngIf="clients" class="rowInfo col-lg-12">
                <label class="label-control pull-left conteneur" for="Client">
                  <label for="pull-left col-lg-2"><i class="fa fa-truck"></i> Client : {{i}}</label>
                  <select [(ngModel)]="commande.Client" class="col-lg-5 formControl" [ngModelOptions]="{standalone: true}"><option *ngFor="let c of clients,let id=index" [value]="idclients[id]">{{c.Nom}}</option></select>
                </label>
              </div>
              <div class="rowInfo col-lg-12">
                <label class="label-control pull-left conteneur" for="Destination">
                  <label for="pull-left col-lg-2"><i class="fa fa-truck"></i> Destination :</label>
                  <select [(ngModel)]="commande.Destination" class="col-lg-5 formControl" [ngModelOptions]="{standalone: true}"><option *ngFor="let d of distinations,let id=index" [value]="iddistinations[id]">{{d.Nom}}</option></select>
                </label>
              </div>
              <div class="rowInfo col-lg-12">
                <label class="label-control pull-left conteneur" for="Nbre_voyages">
                  <label for="pull-left col-lg-2"><i class="fa fa-truck"></i> Nombre de voyages :</label>
                  <input class="col-lg-5 formControl" type="number" [(ngModel)]="commande.Nbre_voyages" name="Nbre_voyages" id="Nbre_voyages" placeholder="Nbre_voyages" required #Nbre_voyages="ngModel"/>
                </label>
              </div>
              <div class="rowInfo col-lg-12">
                <label class="label-control pull-left conteneur" for="HLS">
                  <label for="pull-left col-lg-2"><i class="fa fa-truck"></i> HLS :</label>
                  <input class="col-lg-5 formControl" type="time" [(ngModel)]="commande.HLS" name="HLS" id="HLS" placeholder="HLS" required #HLS="ngModel"/>
                </label>
              </div>
              <div class="rowInfo col-lg-12">
                <label class="label-control pull-left conteneur" for="Chantier">
                  <label for="pull-left col-lg-2"><i class="fa fa-truck"></i> Chantier :</label>
                  <select [(ngModel)]="commande.Chantier" class="col-lg-5 formControl" [ngModelOptions]="{standalone: true}"><option *ngFor="let c of chantiers,let id=index" [value]="idchantiers[id]">{{c.Nom}}</option></select>
                </label>
              </div>
              <div class="rowInfo col-lg-12">
                <label class="label-control pull-left conteneur" for="Urgence">
                  <label for="pull-left col-lg-2"><i class="fa fa-truck"></i> Urgence :</label>
                  <label class="formControl col-sm-1 col-lg-1"><b >3</b><input type="radio" class="check pull-right" [checked]=true value="3" [(ngModel)]="commande.Urgence" [ngModelOptions]="{standalone: true}" /></label>
                  <label class="formControl col-sm-1 col-lg-1"><b >2</b><input type="radio" class="check pull-right" [checked]=true value="2" [(ngModel)]="commande.Urgence" [ngModelOptions]="{standalone: true}" /></label>
                  <label class="formControl col-sm-1 col-lg-1"><b >1</b><input type="radio" class="check pull-right" [checked]=true value="1" [(ngModel)]="commande.Urgence" [ngModelOptions]="{standalone: true}" /></label>
                </label>
              </div>
              <div class="rowInfo col-lg-12">
                <label class="label-control pull-left conteneur" for="Duree_chevauchement">
                  <label for="pull-left col-lg-2"><i class="fa fa-truck"></i> Durée du chevauchement :</label>
                  <input class="col-lg-5 formControl" type="datetime" [(ngModel)]="commande.Duree_chevauchement" name="Duree_chevauchement" id="Duree_chevauchement" placeholder="Duree chevauchement" required #Duree_chevauchement="ngModel"/>
                </label>
              </div>
              <div class="rowInfo col-lg-12">
                <label class="label-control pull-left conteneur" for="DD">
                  <label for="pull-left col-lg-2"><i class="fa fa-truck"></i> DD :</label>
                  <input class="col-lg-5 formControl" type="text" [(ngModel)]="commande.DD" name="DD" id="DD" placeholder="DD" required #DD="ngModel"/>
                </label>
              </div>
              <div class="rowInfo col-lg-12">
                <label class="label-control pull-left conteneur" for="PVente">
                  <label for="pull-left col-lg-2"><i class="fa fa-truck"></i> PVente :</label>
                  <input class="col-lg-5 formControl" type="text" [(ngModel)]="commande.PVente" name="PVente" id="PVente" placeholder="Prix de Vente" required #PVente="ngModel"/>
                </label>
              </div>
              <div class="rowInfo col-lg-12">
                <label class="label-control pull-left conteneur" for="Criticite_Client">
                  <label for="pull-left col-lg-2"><i class="fa fa-truck"></i> Criticité du Client :</label>
                  <input class="col-lg-5 formControl" type="number" [(ngModel)]="commande.Criticite_Client" name="Criticite_Client" id="Criticite_Client" placeholder="Criticité du Client" required #Criticite_Client="ngModel"/>
                </label>
              </div>
              <div class="col-lg-12 rowInfoBtn">
                <button class="btn col-lg-2 pull-right btn-info"><i class="fa fa-pencil fa-2x"></i> <b> Modifier </b></button>
                <button class="btn col-lg-2 pull-right btn-danger"><i class="fa fa-trash fa-2x"></i> <b> Supprimer</b></button>
              </div>
              </div>
          </div>
      </div>
        <br>
      <!--a [routerLink]="['/edit', person.id]">{{person.name}}</a-->
  </fieldset>
</section>
